*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1e53;
}

header{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
}

nav{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link h1{
    color: #000;
    font-size: 30px;
}


.nav-div{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-list{
    display: flex;
    align-items: center;
    margin: 0;
}
.nav-list__item a{
    color:#BBBBCB;
}
.nav-list__item a:hover{
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.btn{
    color: white;
    background-color: transparent;
    border-color: #F4F6FC;
    border-radius: 41px;
    padding: 16px 41px;
}

.btn{
    display: flex;
    justify-content: space-between;
}
